<!doctype html>
<html lang="en">

<head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Search</title>
</head>

<body style="background: whitesmoke;">
    <form class="container" action="{% url 'ShopHome' %}" method="GET">
        <h1 class="my-5" style="text-align: center;">[To See All The Items click on Search only]<br>[To Add Data for Search Click on "ADD"]<br>Search Here</h1>
        <input class="form-control my-5 center-block" id="Search" name="Search"
            style="height:50px;width: 800px; margin-left: auto; margin-right: auto; border-width: 2px; border-color:yellow;"
            type="search" placeholder="Search" aria-label="Search">
        <div class="text-center">
            <button class="btn btn-outline-success " style="margin-top: -18px; margin-left: 0px;"
                type="submit">Search</button>
        </div>
    </form>
 
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" style="margin-top: -66px; margin-left: 515px;" data-bs-target="#exampleModal">
        ADD
    </button>
    <a href="{% url 'ProductAPI'%}"><button type="button" class="btn btn-primary"  style="margin-top: -66px; margin-left: 218px;" >API</button></a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter The Data You Want To Be Search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'CreateData' %}" method="GET">
                        <div class="row">
                            <div class="col">
                              <input type="text" id="Product_Name" name="Product_Name" class="form-control" placeholder="Product Name" aria-label="Product name">
                            </div>
                            <div class="col">
                              <input type="number" id="Product_Price" name="Product_Price" class="form-control" placeholder="Product Price" >
                            </div>
                        </div>
                        <div class="mb-3 my-3">
                            <input type="text" class="form-control" id="Product_Description" name="Product_Description" placeholder="Product Description">
                        </div>
                        <div class="row">
                            <div class="col">
                              <input type="number" id="Product_Quntity" name="Product_Quntity" class="form-control" placeholder="Product Quntity" aria-label="Product Quntity">
                            </div>
                            <div class="col">
                              <input type="date" id="Creation_Date" name="Creation_Date" class="form-control" placeholder="Creation Date" aria-label="Creation Date">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-3 ">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>